<div style='padding: 0px ; background-size: auto 110%; border-radius: 5px ; height: 400px'>
    <div style="float: right ; margin: 150px ; padding:10px ; background: rgba(255 , 255 , 255 , 0.7) ; width: 53% ; height: 100px">
        <div style="position: relative ; top: 10% ; transform: translatey(-10%)">
            <div style="font-size: xxx-large ; font-weight: 750 ; color: rgba(0 , 0 , 0 , 0.8) ; line-height: 100%">  Data Analysis & Analisis Deskriptif dengan Pandas </div>
            <div style="font-size: xx-large ; padding-top: 10px ; color: rgba(0 , 0 , 0 , 0.5)">KU1102</div>
        </div>
    </div>
</div>

# Pandas

Pandas = Python Data Analysis Library
Dikembangkan We McKinney 2008
Sebuah library open source yang menyediakan model data terstruktur dan fungsi manipulasi dan analisis data dalam lingkungan bahasa pemrograman Python
Instalasi Pandas: dalam paket Anaconda (http://www.anaconda.com)
Model data pada Pandas disebut DataFrame: data dalam bentuk tabular (tabel dengan kolom dan baris)

![picture](https://pandas.pydata.org/static/img/pandas_white.svg)

Source : (https://pandas.pydata.org/)

# Minggu 12

**Objektif**
- Mahasiswa memahami latar belakang dan pentingnya data analisis
- Mahasiswa dapat membedakan terminologi Data, Informasi, Knowledge, Wisdom (DIKW)
- Mahasiswa mengerti lingkup dan workflow Data Analisis 
- **Mahasiswa dapat mempraktikkan teknik dalam Descriptive Analytics dan EDA untuk melakukan analisis data sederhana dengan menggunakan Python Pandas**


**Motivasi**
- Bigdata dan IoT
- Information Overload
- People are getting stupider?

![picture](https://res.cloudinary.com/practicaldev/image/fetch/s--0NjKq1sP--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/i/ahxftwer1lt7514gwfsr.png)

**Cara umum untuk menginstal paket adalah:**

```python
pip install <package_name>
```
Contoh :
``` python
pip install pandas
```

In [ ]:
!pip install pandas

# Create Dataframe

In [ ]:
import pandas as pd
dataMhs = {"NIM": ["16519001", "16519002", "16519003"], 
           "Nama" : ["Bin Bin", "Atung", "Kaka"], 
           "NilaiPTIB": [75, 80, 90]}
df1 = pd.DataFrame(data=dataMhs)
print(df1)

In [ ]:
d = {"one" : pd.Series([1.,2.,3.], index=["a","b","c"]),
     "two" : pd.Series([1.,2.,3.,4.], index=["a","b","c","d"])}
df2 = pd.DataFrame(d)
print(df2)

# Baca dan Tampilkan Data

## Baca Data dari File CSV

In [ ]:
import pandas as pd
df3 = pd.read_csv("Data/medali.csv")
print(df3)

## Baca Data dari File Spreadsheet (.xlsx)

In [ ]:
import pandas as pd
sn = "Sheet1" 
df4 = pd.read_excel("Data/medali.xlsx",sheet_name=sn)
print(df4)

# Tulis Data

## Tulis Data ke File CSV

In [ ]:
# Asumsi df3 sudah terdefinisi (lihat slide sebelumnya)
df3.to_csv("Data/medali_out.csv")

## Tulis Data ke File Spreadsheet (.xlsx)

In [ ]:
# Asumsi df4 sudah terdefinisi (lihat slide sebelumnya)
writer = pd.ExcelWriter("Data/medali_out.xlsx")
df4.to_excel(writer, "Sheet1")
df4.to_excel(writer, "Sheet2") #tulis data yang sama di sheet lain

# Select Data : Subset, Filter

- DataFrame menggunakan indeks mulai dengan nilai 0
- Contoh-contoh:

In [ ]:
#Dapatkan subset mulai dari baris ke-5 (dari indeks ke-4)
df3[4:]

In [ ]:
#dapatkan mulai baris ke-5 (idx=4), s.d. baris ke-8 (idx=7)
df3[4:8]

In [ ]:
#dapatkan semua baris s.d. baris ke-8 (idx=7)
df3[:8]

**DataFrame.loc: mengakses baris dan kolom berdasarkan label atau array of boolean**

In [ ]:
df3.index

In [ ]:
df3.columns

In [ ]:
#data baris ke-4, kolom country
df3.loc[3,"country"] #Indonesia

In [ ]:
#data dari baris ke-4 (idx=3) s.d. ke-10 (idx=9); kolom country s.d. bronze
df3.loc[3:9,"country":"bronze"]

## Select Data : Berdasarkan Kondisi

In [ ]:
#Ambil semua data dengan jumlah medali perunggu = 0
df3.loc[df3["bronze"] == 0]

In [ ]:
#Cetak semua data dengan total medali >= 50
print(df3.loc[df3["total"] >= 50])

In [ ]:
#Cetak semua data negara yang hanya mendapat medali perunggu
print(df3.loc[(df3["gold"] == 0) & (df3["silver"] == 0) &  
              (df3["bronze"] > 0)])

In [ ]:
#Ambil semua data negara yang tidak mendapatkan medali emas atau perak atau perunggu
df3.loc[(df3["gold"] == 0) | (df3["silver"] == 0) | 
        (df3["bronze"] == 0)]

# Latihan 1

**Tuliskan perintah dan tuliskan hasilnya untuk beberapa perintah berikut:**
1. Tampilkan data 10 negara ranking pertama.
2. Tampilkan daftar negara rangking 11 s.d. 20 (nama negaranya saja yang ditampilkan)
3. Tampilkan data negara yang mendapatkan 1 medali emas.
4. Tampilkan data negara dengan total perolehan medali > 20, tetapi dengan jumlah perolehan medali emas < 5

In [ ]:
# Contoh - 3. Tampilkan data negara yang mendapatkan 1 medali emas.

print(df3.loc[df3["gold"] == 1])

In [ ]:
# 1. Data 10 negara ranking pertama

df3["country"].loc[df3["rank"] < 11]

In [ ]:
# 2. Daftar Negara ranking 11 s.d. 20

df3["country"][11:21]

In [ ]:
# 4. Negara Total Medali > 20 , tetapi medali Emas < 5

print(df3.loc[(df3["total"] > 20) & (df3["gold"] < 5)])

# Find Extremum

In [ ]:
#Temukan indeks dengan nilai maksimum #pada kolom bronze
imax = df3["bronze"].idxmax()
df3[imax:imax+1]

In [ ]:
#Temukan indeks dengan nilai minimum pada kolom bronze 
#Jika nilai minimum ada lebih dari satu, maka baris yang ditemukan #pertama kali
imin = df3["bronze"].idxmin()
df3[imin:imin+1]

# Determine Range

In [ ]:
#dapatkan nilai minimum dan maximum untuk seluruh data 
minimum,maximum=(df3.min(),df3.max())
print(minimum); print (maximum)

In [ ]:
#nilai minimum untuk kolom country
minimum["country"]

In [ ]:
#nilai maksimum untuk kolom gold
maximum["gold"]

# Latihan 2

- Tampilkan negara(-negara) dengan perolehan perunggu terbanyak
- Tampilkan negara(-negara) dengan perolehan perunggu paling sedikit, tapi total perolehan medali > 0

In [ ]:

imax = df3["bronze"].idxmax()
df3[imax:imax+1]

In [ ]:

imin = df3["bronze"].idxmin()
df3[imin:imin+3]

# Sort

In [ ]:
#Sort terurut menurun (ascending=0) berdasarkan kolom country
print(df3.sort_values(["country"], ascending=[0]))

In [ ]:
#Sort terurut menaik (ascending=1) berdasarkan kolom total
print(df3.sort_values(["total"], ascending=[1]))

In [ ]:
#Sort terurut menaik berdasarkan kolom total dan menurun berdasarkan kolom country
print(df3.sort_values(["total","country"], ascending=[1,0]))

# Latihan-3

Sort data perolehan medali terurut **menurun** berdasarkan **kolom gold** dan terurut **menaik** berdasarkan **kolom silver**

In [ ]:

print(df3.sort_values(["gold"], ascending=[0]))

In [ ]:

print(df3.sort_values(["silver"], ascending=[1]))

# Counting Frequency

**Menghitung banyaknya kemunculan suatu data item pada suatu kolom 🡪 distribusi kemunculan nilai**

In [ ]:
#Counting frequency kolom bronze
df3["bronze"].value_counts()

# Latihan-4

Buatlah distribusi frekuensi untuk **total** perolehan medali.

In [ ]:

df3["total"].value_counts()

# Group By 

**Group by adalah perintah untuk membagi data dalam kelompok-kelompok berbeda berdasarkan suatu variabel tertentu**

## Contoh-1: mengelompokkan data berdasarkan atribut

In [ ]:
df5 = pd.read_csv("Data/data.csv")
df5.groupby("gender").value_counts()

**Fungsi sum(), max(), min(), mean(), first(), last(), size() dapat diberlakukan pada objek yang di-groupby untuk mendapatkan statistik**

## Contoh-2: mendapatkan total jumlah anak (num_children) per kelompok gender

In [ ]:
df5.groupby("gender")["num_children"].sum()

## Contoh-3: mendapatkan rata-rata jumlah peliharaan (num_pets) per kelompok gender per state

In [ ]:
df5.groupby(["gender","state"])["num_pets"].mean()

# Membuat tabel pivot
## Contoh: membuat tabel pivot berdasarkan atribut gender (sebagai baris) dan state (sebagai kolom), sel berisi banyaknya data gender per state

In [ ]:
df5.groupby(["gender","state"])["name"].size().unstack()

# Statistics Summary, Characterize Distribution

## Menampilkan beberapa statistik penting pada data

In [ ]:
df3.describe()

## Rata-Rata dan Deviasi Standar

**Menghitung rata-rata (mean) dan deviasi standar (std) pada data**

In [ ]:
#rata-Rata data df3
df3.describe().mean()

In [ ]:
#deviasi standar data df3
df3.describe().std()

In [ ]:
#rata-rata total perolehan medali
df3.describe().mean()["total"]

In [ ]:
#deviasi standar perolehan medali emas
df3.describe().std()["gold"]

# Correlation

## korelasi antara perolehan medali emas dengan total perolehan medali

In [ ]:
df3["gold"].corr(df3["total"])

# Latihan 5

**Hitung dan analisis-lah korelasi antara data-data berikut:**
- Gold vs Silver
- Silver vs Bronze
- Gold vs Bronze
- Silver vs Total
- Bronze vs Total

<span style="color:black;font-weight:100;font-size:35px"><center>

||gold|silver|bronze|total|
|:---:|:---:|:---:|:---:|:---:|
|gold|1||||
|silver|0.96218|1|||
|bronze|0.81740|0.89955|1||
|total|0.96564|0.98981|0.93523|1|

</center>

In [ ]:

df3_ = df3[["gold","silver","bronze","total"]]
df3_.corr()

In [ ]:
import numpy as np
# Ambil hanya matriks segitiga bawah
lower_triangle_df = pd.DataFrame(np.tril(df3_.corr()), columns=df3_.columns)
lower_triangle_df